.project-item {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 10px;
}

.project-item a {
    color: #595959;
}

.work-section {
    margin-top: 50px;
}

.work-position {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.work-company {
    color: #FB6D3A;
}

.work-period {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.line-break {
    color: #000;
}

.school {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.school-period {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.school-section {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.school-degree {
    color: #FB6D3A;
}

.work-dutie {
    padding-left: 18px;
}

.work-dutie li {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.body {
    background-color: #E5E5E5;
    font-family: 'Arial';
}

.right-section {
    padding-left: 90px;
    padding-right: 200px;
    background-color: #fff;
}

.about-me-profession {
    color: #000;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
}

#personName {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 30px;
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}

.about-me-section {
    padding-top: 15px;
    padding-right: 15px;
    width: 550px;
}

.about-me-section p {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-section {
    margin: 40px 0 0 0;
}

.block-title {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000;
}

.project-section ol {
    padding-left: 18px;
}

ol li,
.bracket {
    color: #000;
    font-weight: 700;
}

.education-section {
    margin-top: 50px;
    width: 525px;
}


.main-info {
    width: 525px;
    height: 206px;
}

.my-photo {
    width: 370px;
    height: 370px;
    left: 40px;
    top: 80px;
}



/*Sidebar Section*/
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
}

.sidebar-section img {
    margin-top: 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
    margin-left: 40px;
}

.contacts-section-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contacts-section-value {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

.sidebar-list {
    color: #FB6D3A;
    padding-left: 20px;
}

.sidebar-list span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}